<!DOCTYPE html>
<html>
  <head>
    <title>AGREGAR PROFESORES</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Agregar profesor</h1>
    <form action="/agregar" method="post">
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="materia" placeholder="Materia">
        <button type="submit">Agregar</button>
    </form>
  </body>
</html>      
