<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>lista de personas</h1>
    <ul>
      <% personas.forEach(element => { %>
        <li><%= element.nombre%> </li> 
        <li><%= element.email %></li>

      <% }) %>
    </ul>       
  </body>
</html>
